<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ site.kakao_map.api_key }}"></script>
  <style>
    #kakao-map {
      width: 100%;
      height: 400px;
    </style>
  </head>
  <body>
    <div id="kakao-map"></div>

    <script>
      kakao.maps.load(() => {
        const container = document.getElementById('kakao-map');
        const options = {
          center: new kakao.maps.LatLng({{ site.kakao_map.center.latitude }}, {{ site.kakao_map.center.longitude }}),
          level: 3,
        };
        const map = new kakao.maps.Map(container, options);

        const markerPosition = new kakao.maps.LatLng({{ site.kakao_map.marker.latitude }}, {{ site.kakao_map.marker.longitude }});
        const marker = new kakao.maps.Marker({
          position: markerPosition,
          map: map,
          title: "{{ site.kakao_map.marker.title }}",
        });

        const infowindow = new kakao.maps.InfoWindow({
          content: '<div style="padding:5px;font-size:12px;">{{ site.kakao_map.marker.title }}에 있는 마커</div>',
        });
        infowindow.open(map, marker);
      });
    </script>
  </body>
</html>